.hidden{
    display:none;
    position: absolute
}

.NavigationWrapper{
    border-bottom: solid gray 1px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 35px;
    margin-top: 20px;
    height: 4rem;
}

#ProfileWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    height: 50px;
    /* border: red solid */
}

#ModalLinks{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}

#HomeLink{
    font-size: 35px;
}

#UserButton{
    font-size: 30px;
    color: rgb(223, 96, 96);
    display: flex;
    justify-content: flex-end;
    margin: 2px 5px;
}

#LogoutButton{
    border-radius: 30px;
    font-size: 16px;
    border: none;
    background: rgb(223, 96, 96);
    color: white;
    width: 6rem;
    height: 2rem;
    margin: .5rem 0rem;
}

.profile-dropdown{
    /* border: red solid; */
    background: white;
    text-align: end;
    color: rgb(223, 96, 96);
    font-size: 16px;
    width: 7rem;
    padding: 0;
}

.topRightLinks {
    /* border: red solid; */
    display: flex;
    align-items: center;
}


/* hovers and what not */
#ModalLinks:hover{
    cursor: pointer
}

#UserButton:hover {
    cursor: pointer
}
